@(cardForm: Form[Card])

@import helper._

<html>
	<head>
		<title>dummy | card</title>
	</head>
	<body>

		<h2>Add a new Data (dummy page)</h2>

		<a href="@routes.ModelController.card()">card_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.category()">category_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.department()">department_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.permission()">permission_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.section()">section_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.user()">user_table</a>

		@form(routes.ModelController.createCard()) {
			@inputDate(cardForm("date"), '_label -> "date")
			@inputText(cardForm("fromUserId"), '_label -> "from_user_id")
			@inputText(cardForm("toUserId"), '_label -> "to_user_id")
			@inputText(cardForm("title"), '_label -> "title")
			@inputText(cardForm("detail"), '_label -> "detail")
			@inputText(cardForm("message"), '_label -> "message")
			@inputText(cardForm("categoryId"), '_label -> "category_id")
			@inputText(cardForm("goodCount"), '_label -> "good_count")
			<input type="submit" value="Create" />
		}
	</body>
</html>
