@(departmentForm: Form[Department])

@import helper._

<html>
	<head>
		<title>dummy | department</title>
	</head>
	<body>

		<h2>Add a new Data (dummy page)</h2>

		<a href="@routes.ModelController.card()">card_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.category()">category_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.department()">department_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.permission()">permission_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.section()">section_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.user()">user_table</a>

		@form(routes.ModelController.createDepartment()) {
			@inputText(departmentForm("departmentCd"), '_label -> "department_cd")
			@inputText(departmentForm("sectionId"), '_label -> "section_id")
			@inputText(departmentForm("departmentName"), '_label -> "department_name")
			<input type="submit" value="Create" />
		}
	</body>
</html>
