@(userForm: Form[User])

@import helper._

<html>
	<head>
		<title>dummy | user</title>
	</head>
	<body>

		<h2>Add a new Data (dummy page)</h2>

		<a href="@routes.ModelController.card()">card_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.category()">category_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.department()">department_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.permission()">permission_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.section()">section_table</a>&nbsp;&nbsp;
		<a href="@routes.ModelController.user()">user_table</a>

		@form(routes.ModelController.createUser()) {
			@inputText(userForm("userCd"), '_label -> "user_cd")
			@inputText(userForm("userPass"), '_label -> "user_pass")
			@inputText(userForm("departmentId"), '_label -> "department_id")
			@inputText(userForm("userName"), '_label -> "user_name")
			@inputText(userForm("permissionId"), '_label -> "permission_id")
			<input type="submit" value="Create" />
		}
	</body>
</html>
