body, p, form, input { margin: 0 }

#form {
	width: 400px;
	margin: 30px auto;
	padding: 20px;
	border: 1px solid #555;
}

p {
	margin-top: 0;
	line-height: 1.6;
}

form p {
	font-size: 14px;
}

.form-title {
	text-align: center;
}

.ID, .pass {
	margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
	width: 300px;
	padding: 4px;
	font-size: 14px;
}

.submit {
	text-align: right;
}
