@charset "utf-8";
<!-フッターの文字の色とか>
a { color: #b7a077;text-decoration: none; }
b:cpolortest { color:aqua }
a:visited { color: #7E8AA2;}
a:hover {
  color: #ff9800;
  font-weight: bold;
  text-decoration: none;
}
table{
    background-color: aliceblue;
}

#main h1 {
  background-color:floralwhite;
  padding: 2px 10px 10px 2px;
  font-size: 18px;
  color: #44382d;
  border-bottom: solid 3.5px  ;
}
header {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   width: 100%;
  margin: 0 auto;
    font-size: 30px;
     display: block;
   text-align: center;

}
header div{
 vertical-align:baseline;
}
header #header_contact {

  float: right;
  margin: 20px 0;
}
#global_navi {
    font-family: helvetica bold;
  font-size: 16.5px;
    font-weight:bold;
    letter-spacing:8px;
  width: 1340px;
  clear: both;
  overflow: hidden;
  margin: 5px auto;
}
#global_navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#global_navi ul li {
  width: 330px;
  float: left;
  margin-right: 1px;
  text-align: center;
}
#global_navi ul li a {
  display: block;
  padding: 16px;
  background-color: #263248;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s linear;
}
#global_navi ul li.current a {
  background-color: #7E8AA2;
}

#global_navi ul li a:hover {
  background-color: #3d5176;
    font-size: 15px;
}
#wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
#main {
  width: 100%;
  float: right;

}
footer {
    width:100%;
  background-color: #352b23;
  text-align: center;
}
footer #footer_nav {
  background-color: #efefef;
  padding: 10px 0;
}
footer #footer_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer #footer_nav li {
  display: inline;
  border-left: solid 1px ;
  margin-left: 8px;
  padding-left: 8px;
  font-size: smaller;
}
footer #footer_nav li:last-child {
  border-right: solid 1px ;
  padding: 0 8px;
}
footer small {
  display: block;
  padding: 8px 0;
  color: #fff;
}
#breadcrumb { font-size: smaller; }
#breadcrumb ol {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}
#breadcrumb ol li { display: inline; }
#breadcrumb ol li::after {
  content: ">";
  padding-left: 7px;
}
#breadcrumb ol li:last-child::after { content: none; }
/*table css*/
.odd {
    background:#f0f0ff;
    color:#1a504c;
}
th{
    background:#fff2e0;
    color:#3f2b5a
}
.even{
    background:#e6e6e1
}
tr:not(:first-child):hover{
    background:aqua;
}
.sidebar{
    position: fixed;
    color: #7E8AA2;
  }
.sidebar.left {
      top: 0;
      left: 0;
      bottom: 0;
      width: 270px;
}
 div.jirei{
 	line-height: 2.0;
 	text-decoration:underl
 }
/*ハンバーガーアイコンの記述*/
#nav-toggle { position: absolute; right: 5%; top: 15.3%; }

#nav-toggle { cursor: pointer; padding: 10px 15px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 2px;
  height: 3.3px;
  width: 35px;
  background: #4040f0;
  position: absolute;
  display: block;
  content: '';

}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
#side_banner ul li {
	margin-bottom: 15px;
	font-size: 28px;
	text-decoration: none;
}

ul#menu li{
    float:center;
    position: relative;
    margin-left: -9px;
    padding: 10px;
    width: 220px;

    display: block;
}
ul#menu li:hover{
	 color: #ff9022;
  font-weight: bold;
  text-decoration: none

	}
ul.child{
    display: none;
    position: absolute;
    margin-left: -24px;
    padding: 0;
}
ul.child li a{
    padding: 5px 10px;
    margin-left: -43px;
    margin-right: -30px;
    margin-bottom: -5px;
    display: block;
    color: #9fb7d4;
}
ul.child li a:hover{
    background: rgba(0, 0, 0, 0.6);
    color: #ff9800;
}
.objectopen {
	margin: 0 auto;
}
.bodytop {
	padding: 10px;
}
.bodybtm2 {
	width: 100%;
	display: none;
}
.bodybtm2 p,
.bodybtm2 span {
	padding: 10px;
}
.bodytop .button3 {
	cursor: pointer;
	color: #4776AF;
}
.contents {
	margin: 10px auto 40px auto;
	padding: 10px;
	background: #9fb7d4;
}