@(cardList: List[Array[String]])(date: String)

<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="utf-8">

		<!-- jQuery -->
		<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.12.3.min.js")"></script>

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main_style.css")">

		<!-- popuup -->
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/magnific-popup.css")">

		<!-- 表のCSS -->
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/input_hyou.css")">

		<script src="@routes.Assets.versioned("javascripts/jquery.magnific-popup.min.js")"></script>

		<title>事例</title>

		<!-- 表のセルに対して色を変えてる -->
		<script>
			$(function() {
				$("th:nth-child(odd)").addClass("odd");
				$("tr:nth-child(even)").addClass("even");
			});
		</script>
	</head>
	<body>
		<!-- ここまで -->
		<font color="oldlace"><h1><center>@date TOP10</center></h1></font>
		<table class="type04" width="100%">
			<tr>
				<th scope="row">ランキング</th>
				<th scope="row">部署(From)</th>
				<th scope="row">氏名(From)</th>
				<th scope="row">部署(To)</th>
				<th scope="row">氏名(To)</th>
				<th scope="row">分類</th>
				<th scope="row">タイトル</th>
				<th scope="row">日付</th>
				<th scope="row">いいね</th>
			</tr>
			@for(card <- cardList) {
			<tr>
				<td>@card(1)</td>
				<td>@card(2)</td>
				<td>@card(3)</td>
				<td>@card(4)</td>
				<td>@card(5)</td>
				<td>@card(6)</td>
				<td><a class="popup-iframe" href="@routes.HomeController.openCard(card(0))">@card(7)</a></td>
				<td>@card(8)</td>
				<td>@card(9)</td>
			</tr>
			}
		</table>
		<script>
			jQuery(function($){
				$('.parent-container').magnificPopup({
					delegate: 'a', // 子要素のセレクタ
					type: 'image'
					// other options
				})
			});
		</script>
	</body>
</html>
