@(cardList: List[Array[String]])(departmentList: List[Department])(categoryList: List[Category])(userList: List[User])

@import helper._

<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="utf-8">
		<!-- jQuery -->
		<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.12.3.min.js")"></script>

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main_style.css")">

		<!-- popuup -->
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/magnific-popup.css")">

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/input_hyou.css")">

		<script src="@routes.Assets.versioned("javascripts/jquery.magnific-popup.min.js")"></script>

		<title>thanks | 一覧</title>

		<script>
			$(function() {
				$("th:nth-child(odd)").addClass("odd");
				$("tr:nth-child(even)").addClass("even");
			});
		</script>
	</head>
	<body>
		<p><h1><center>掲示板</center></h1></p>
<div class="objectopen">
<div class="bodytop">
		◆…◇… 絞 り 込 み …◇…◆&nbsp&nbsp
		<span class="button3">ツールを開く</span>
		<!--bodytop--></div>
        <div class="bodybtm2">
		<form action="@routes.BbsController.bbs_cont1()" method="post">
				<p>送った人：
				<select name="fromDepartmentName">
					<option value="default">--- FROM(部署)検索 ---</option>
					@for(department <- departmentList) {
						<option class="count@department.id" value="@department.departmentName"> @department.departmentName</option>
					}
				</select>
				<select name="fromUserName">
					<option value="default">--- FROM(氏名) ---</option>
					@for(user <- userList) {
							<option class="count@user.department.id" value="@user.userName">@user.userName</option>
					}
				</select>
			</p>
			<p>
				貰った人：
				<select name="toDepartmentName">
					<option value="default">--- TO(部署)検索 ---</option>
					@for(department <- departmentList) {
						<option class="count@department.id" value="@department.departmentName">@department.departmentName</option>
					}
				</select>
				<select name="toUserName">
					<option value="default">--- FROM(氏名) ---</option>
					@for(user <- userList) {
							<option class="count@user.department.id" value="@user.userName">@user.userName</option>
					}
				</select>
			</p>
			<p>
				&nbsp;分&nbsp;類&nbsp;&nbsp;：
				<select name="categoryName">
					<option value="default"> --- 分 類 ---
					@for(category <- categoryList) {
						<option value="@category.categoryName">@category.categoryName
					}
				</select>
			</p>
			<p>
				&nbsp;期&nbsp;間&nbsp;&nbsp;：
					いつから -> <input type="date" name="fromDate">
					&nbsp;&nbsp;
					いつまで -> <input type="date" name="toDate">
				</p>
			<p>
				い&nbsp;い&nbsp;ね&nbsp;：
				<select name="good">
					<option value="default"> --- いいね ---
					<option value="sortOn">いいね降順
				</select>
			</p>
			<input type="submit" name="submit" value="検索">
			<!--bodybtm2--></div>
			<!--objectopen--></div>
			<script>
				$(function() {
					$('select[name="fromDepartmentName"]').change(function() {
						var countyName = $('select[name="fromDepartmentName"] option:selected').attr("class");
						console.log(countyName);
						var count = $('select[name="fromUserName"]').children().length;
						for (var i=0; i<count; i++) {
							var fromUserName = $('select[name="fromUserName"] option:eq(' + i + ')');
							if(fromUserName.attr("class") === countyName) {
								fromUserName.show();
							} else {
								fromUserName.hide();
							}
						}
					})
				})
			</script>
			<script>
				$(function() {
					$('select[name="toDepartmentName"]').change(function() {
						var countyName = $('select[name="toDepartmentName"] option:selected').attr("class");
						console.log(countyName);
						var count = $('select[name="toUserName"]').children().length;
						for (var i=0; i<count; i++) {
							var toUserName = $('select[name="toUserName"] option:eq(' + i + ')');
							if(toUserName.attr("class") === countyName) {
								toUserName.show();
							} else {
								toUserName.hide();
							}
						}
					})
				})
			</script>
		</form>

		<hr size="2" color="#bfc3fa" >

		<br><br>

		<table class="type04" width="100%">
			<tr>
				<th scope="row">部署(From)</th>
				<th scope="row">氏名(From)</th>
				<th scope="row">部署(To)</th>
				<th scope="row">氏名(To)</th>
				<th scope="row">分類</th>
				<th scope="row">タイトル</th>
				<th scope="row">日付</th>
				<th scope="row">いいね件数</th>
				<th scope="row">いいね</th>
			</tr>
			@for(card <- cardList) {
			<tr>
				<td>@card(1)</td>
				<td>@card(2)</td>
				<td>@card(3)</td>
				<td>@card(4)</td>
				<td>@card(5)</td>
				<td><a class="popup-iframe" href="@routes.HomeController.openCard(card(0))">@card(6)</a></td>
				<td>@card(7)</td>
				<td>@card(8)</td>
				<td>
					<form action="@routes.HomeController.addGoodCount_BbsCont1(card(0))" method="POST" >
						<input class="myButtonI" type="submit" style="width: 96px; height: 32px;" value="いいね!!">
					</form>
				</td>
			</tr>
			}
		</table>
		<script>
		$(document).ready(function(){
			//$('.bodybtm2').hide();
			var flg = 'close';
			$('.button3').click(function(){
			$('.bodybtm2').slideToggle('fast');
			if(flg == 'close'){
			flg = 'open';
			$(this).text('閉じる');
			}else{
			flg = 'close';
			$(this).text('ツールを開く');
			}
			});
			});
		</script>
		<script>
			$(function() {
				$('.popup-iframe').magnificPopup({
					type: 'iframe',
					disableOn: 500, //ウィンドウ幅が500px以下だったらモーダル表示させずにリンク先へ遷移
					mainClass: 'mfp-fade',
					removalDelay: 200,
					preloader: false,
					fixedContentPos: false
				});
			});
		</script>
	</body>
</html>
