<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/input_hyou.css")">

		<title>thanks | 関連</title>

		<script>
			$(function() {
				$("th:nth-child(odd)").addClass("odd");
				$("tr:nth-child(even)").addClass("even");
			});
		</script>
	</head>
	<body>
<table class="type01"　width="100%">
           <thead>
            <tr>
              <td></td>
                 <th>IT</th>
              <th>自治</th>
              <th>人事</th>
             </tr>
    </thead>


         <tbody class="type10">
             <tr>
              <th>IT</th>
              <td>1</td>
                <td>2</td>
                <td>3</td>
                 </tr>
             <tr>
              <th>自治体</th>
              <td>1</td>
                <td>2</td>
                <td>3</td>
                 </tr>

             <tr>
              <th>人事</th>
              <td>1</td>
                <td>2</td>
                <td>3</td>
                 </tr>
    </table>
    <br>
    <br>
  <hr>
  <table class="type01"　width="100%">
      <tr>
      <th>FROMはピンクです</th>
      <tbody class="type10">
      <th>Toは青です</th>
      </tr>
      </tbody>
    </table>
  <hr>
</body>
</html>