@(cardList: List[Array[String]])(departmentList: List[Department])(categoryList: List[Category])

@import helper._

<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="utf-8">
		<!-- jQuery -->
		<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.12.3.min.js")"></script>

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main_style.css")">

		<!-- popuup -->
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/magnific-popup.css")">

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/input_hyou.css")">

		<script src="@routes.Assets.versioned("javascripts/jquery.magnific-popup.min.js")"></script>

		<title>thanks | 一覧</title>

		<script>
			$(function() {
				$("th:nth-child(odd)").addClass("odd");
				$("tr:nth-child(even)").addClass("even");
			});
		</script>
	</head>
	<body>
		<p><h1><center>掲示板</center></h1></p>

		<p>◆…◇… 絞 り 込 み …◇…◆</p>

		<form action="@routes.BbsController.bbs_cont1()" method="post">
			<p>
				送った人：
				<select name="fromDepartmentName">
					<option value="default"> --- FROM(部署)検索 ---
					@for(department <- departmentList) {
						<option value="@department.departmentName">@department.departmentName
					}
				</select>
				&nbsp;&nbsp;
				<input type="text" name="fromUserName" placeholder="FROM(氏名)入力">
			</p>
			<p>
				貰った人：
				<select name="toDepartmentName">
					<option value="default"> --- TO(部署)検索 ---
					@for(department <- departmentList) {
						<option value="@department.departmentName">@department.departmentName
					}
				</select>
				&nbsp;&nbsp;
				<input type="text" name="toUserName" placeholder="TO(氏名)入力">
			</p>
			<p>
				&nbsp;分&nbsp;類&nbsp;&nbsp;：
				<select name="categoryName">
					<option value="default"> --- 分 類 ---
					@for(category <- categoryList) {
						<option value="@category.categoryName">@category.categoryName
					}
				</select>
			</p>
			<p>
				&nbsp;期&nbsp;間&nbsp;&nbsp;：
					いつから -> <input type="date" name="fromDate">
					&nbsp;&nbsp;
					いつまで -> <input type="date" name="toDate">
				</p>
			<p>
				い&nbsp;い&nbsp;ね&nbsp;：
				<select name="good">
					<option value="default"> --- いいね ---
					<option value="sortOn">いいね降順
				</select>
			</p>
			<input type="submit" name="submit" value="検索">
		</form>

		<hr size="2" color="#bfc3fa" >

		<br><br>

		<table class="type04" width="100%">
			<tr>
				<th scope="row">部署(From)</th>
				<th scope="row">氏名(From)</th>
				<th scope="row">部署(To)</th>
				<th scope="row">氏名(To)</th>
				<th scope="row">分類</th>
				<th scope="row">タイトル</th>
				<th scope="row">日付</th>
				<th scope="row">いいね</th>
			</tr>
			@for(card <- cardList) {
			<tr>
				<td>@card(1)</td>
				<td>@card(2)</td>
				<td>@card(3)</td>
				<td>@card(4)</td>
				<td>@card(5)</td>
				<td><a class="popup-iframe" href="@routes.HomeController.openCard(card(0))">@card(6)</a></td>
				<td>@card(7)</td>
				<td>@card(8)</td>
			</tr>
			}
		</table>
		<script>
			$(function() {
				$('.popup-iframe').magnificPopup({
					type: 'iframe',
					disableOn: 500, //ウィンドウ幅が500px以下だったらモーダル表示させずにリンク先へ遷移
					mainClass: 'mfp-fade',
					removalDelay: 200,
					preloader: false,
					fixedContentPos: false
				});
			});
		</script>
	</body>
</html>
