@(cardList: List[Array[String]])

@import helper._

<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="utf-8">
		<!-- jQuery -->
		<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.12.3.min.js")"></script>

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main_style.css")">

		<!-- popuup -->
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/magnific-popup.css")">

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/input_hyou.css")">

		<script src="@routes.Assets.versioned("javascripts/jquery.magnific-popup.min.js")"></script>

		<title>thanks | 一覧</title>

		<script>
			$(function() {
				$("th:nth-child(odd)").addClass("odd");
				$("tr:nth-child(even)").addClass("even");
			});
		</script>
	</head>
	<body>
		<p><h1><center>掲示板</center></h1></p>

		<center><p>◆…◇… 絞 り 込 み …◇…◆</p></center>

		<center>
		<select name="navi">
			<!-- valueにURLを記入 -->
			<option value=""> --- FROM(部署)検索 ---
			<option value="">IT
			<option value="">人事
			<option value="">自治
		</select>

		&nbsp;&nbsp;
		<input type="search" name="search" placeholder="FROM(氏名)入力">

		&nbsp;&nbsp;
		<select name="navi">
			<!-- valueにURLを記入 -->
			<option value=""> --- TO(部署)検索 ---
			<option value="">IT
			<option value="">人事
			<option value="">自治
		</select>

		&nbsp;&nbsp;
		<input type="search" name="search" placeholder="TO(氏名)入力">

		&nbsp;&nbsp;
		<select name="navi">
			<!-- valueにURLを記入 -->
			<option value =""> --- 分類 ---
			<option value="">１
			<option value="">２
			<option value="">３
		</select>

		&nbsp;&nbsp;
		<select name="navi">
			<!-- valueにURLを記入 -->
			<option value=""> --- 期間指定なし ---
			<option value="">１日以内
			<option value="">１週間以内
			<option value="">１か月以内
		</select>

		&nbsp;&nbsp;
		<select name="navi">
			<!-- valueにURLを記入 -->
			<option value=""> --- いいね ---
			<option value="">いいね降順
		</select>

		&nbsp;&nbsp;
		<input type="submit" name="submit" value="検索">
		</center>

		<hr size="2" color="#bfc3fa" >

		<br><br>

		<table class="type04" width="100%">
			<tr>
				<th scope="row">部署(From)</th>
				<th scope="row">氏名(From)</th>
				<th scope="row">部署(To)</th>
				<th scope="row">氏名(To)</th>
				<th scope="row">分類</th>
				<th scope="row">タイトル</th>
				<th scope="row">日付</th>
				<th scope="row">いいね</th>
			</tr>
			@for(card <- cardList) {
			<tr>
				<td>@card(0)</td>
				<td>@card(1)</td>
				<td>@card(2)</td>
				<td>@card(3)</td>
				<td>@card(4)</td>
				<td>@card(5)</td>
				<td>@card(6)</td>
				<td>@card(7)</td>
			</tr>
			}
		</table>
		<script>
			$(function() {
				$('.popup-iframe').magnificPopup({
					type: 'iframe',
					disableOn: 500, //ウィンドウ幅が500px以下だったらモーダル表示させずにリンク先へ遷移
					mainClass: 'mfp-fade',
					removalDelay: 200,
					preloader: false,
					fixedContentPos: false
				});
			});
		</script>
	</body>
</html>
