@(relationList: List[Array[String]])(departmentList: List[Department])

<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/input_hyou.css")">

		<title>thanks | 関連</title>

		<script>
			$(function() {
				$("th:nth-child(odd)").addClass("odd");
				$("tr:nth-child(even)").addClass("even");
			});
		</script>
	</head>
	<body>
		<hr>
			<table class="type01" width="100%">
				<tr>
				<th>TOはピンクです</th>
				<tbody class="type10">
				<th>FROMは青です</th>
				</tr>
				</tbody>
			</table>
		<hr>
		<table class="type01" width="100%">
			<thead>
				<tr>
					<td><strong> FROM <strong>＼</strong> TO </strong></td>
					@for(department <- departmentList) {
						<th>@department.departmentName</th>
					}
				</tr>
			</thead>
			<tbody class="type10">
				@for(relation <- relationList) {
					<tr>
						@for(i <- 0 to (departmentList.length)) {
							@if(i == 0) {
								<th>@relation(i)</th>
							} else {
								<td>@relation(i)</td>
							}
						}
					</tr>
				}
			</tbody>
		</table>
	</body>
</html>
