@(categoryList:List[Category])

@import helper._

<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/input_hyou.css")">

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main_style.css")">

		<!-- jQuery -->
		<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.12.3.min.js")"></script>

		<title>thanks | 分類設定</title>

		<script>
		$(function() {
			$("th:nth-child(odd)").addClass("odd");
			$("tr:nth-child(even)").addClass("even");
		});
		</script>
		<script>
			function myEnter(){
			     myRet = alert("削除しました。");
			}
			</script>
	</head>
	<body>
		<center><h1>分類設定</h1></center>
		<table class="type04" width="100%">
			<tr>
				<th>分類CD</th>
				<th>分類名</th>
				<th>追加/削除</th>
			</tr>
			@for(category <- categoryList){
			<tr>
				<td>@category.categoryCd</td>
				<td>@category.categoryName</td>
				<td>
					<form action="@routes.ManagementController.deleteCategory(category.id)" method="post">
						<input class="myButtonD" type="submit" style="width: 100px; height: 30px;" value="DELETE" onclick="myEnter()" />
					</form>
				</td>
			</tr>
			}
			<tbody>
			<tr>
				<form action="@routes.ManagementController.createCategory()" method="post">
					<td><input type="text" style="width: 150px; height: 25px;" name="categoryCd" required/></td>
					<td><input type="text" style="width: 150px; height: 25px;" name="categoryName" required/></td>
					<td>
						<input class="myButtonA" type="submit" style="width: 100px; height: 30px;" value="ADD" />
					</td>
				</form>
			</tr>
			</tbody>
		</table>
	</body>
</html>
