@(sectionList: List[Section])(departmentList: List[Department])

@import helper._

<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/input_hyou.css")">

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main_style.css")">

		<!-- jQuery -->
		<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.12.3.min.js")"></script>

		<title>thanks | 所属設定</title>

		<script>
			$(function() {
				$("th:nth-child(odd)").addClass("odd");
				$("tr:nth-child(even)").addClass("even");
			});
		</script>
		<script>
			function myEnter(){
			     myRet = alert("削除しました。");
			}
			</script>
	</head>
	<body>
		<center><h1>部門一覧</h1></center>
		<table class="type04" width="100%">
			<tr>
				<th>部門CD</th>
				<th>部門名</th>
				<th>追加/削除</th>
			</tr>
			@for(section <- sectionList){
			<tr>
				<td>@section.sectionCd</td>
				<td>@section.sectionName</td>
				<td>
					<form action="@routes.ManagementController.deleteSection(section.id)" method="post">
						<input class="myButtonD" type="submit" style="width: 100px; height: 30px;" value="DELETE" onclick="myEnter()" />
					</form>
				</td>
			</tr>
			}
			<tbody>
				<tr>
					<form action="@routes.ManagementController.createSection()" method="post">
						<td><input type="text" style="width: 150px; height: 25px;" name="sectionCd" required /></td>
						<td><input type="text" style="width: 150px; height: 25px;" name="sectionName" required /></td>
						<td>
							<input class="myButtonA" type="submit" style="width: 100px; height: 30px;" value="ADD"/>
						</td>
					</form>
				</tr>
			</tbody>
		</table>
		<br>
		<br>
		<br>
		<br>
		<hr size="2" color="#bfc3fa" >
		<br>
		<center><h1>部署一覧</h1></center>
		<table class="type04" width="100%">
			<tr>
				<th>部署CD</th>
				<th>部門名</th>
				<th>部署名</th>
				<th>追加/削除</th>
			</tr>
			@for(department <- departmentList){
			<tr>
				<td>@department.departmentCd</td>
				<td>@department.section.sectionName</td>
				<td>@department.departmentName</td>
				<td>
					<form action="@routes.ManagementController.deleteDepartment(department.id)" method="post">
						<input class="myButtonD" type="submit" style="width: 100px; height: 30px;" value="DELETE" onclick="myEnter()"  />
					</form>
				</td>
			</tr>
			}
			<tbody>
			<tr>
				<form action="@routes.ManagementController.createDepartment()" method="post">
					<td><input type="text" style="width: 150px; height: 25px;" name="departmentCd" required/></td>
					<td>
						<select style="width: 165px; height: 30px;" name="sectionName" required>
							<option value="">部門名を選択</option>
							@for(section <- sectionList) {
								<option value="@section.sectionName">@section.sectionName</option>
							}
						</select>
					</td>
					<td><input type="text" style="width: 150px; height: 25px;" name="departmentName" required/></td>
					<td>
						<input class="myButtonA" type="submit" style="width: 100px; height: 30px;" value="ADD" onclick="meEnter()" />
					</td>
				</form>
			</tr>
			</tbody>
		</table>
	</body>
</html>
