@(sectionList: List[Section])(departmentList: List[Department])

@import helper._

<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/input_hyou.css")">

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main_style.css")">

		<!-- jQuery -->
		<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.12.3.min.js")"></script>

		<title>thanks | 所属設定</title>

		<script>
			$(function() {
				$("th:nth-child(odd)").addClass("odd");
				$("tr:nth-child(even)").addClass("even");
			});
		</script>
	</head>
	<body>
		<center><h1>部門一覧</h1></center>
		<table class="type04" width="100%">
			<tr>
				<th>部門CD</th>
				<th>部門名</th>
				<th>追加/削除</th>
			</tr>
			@for(section <- sectionList){
			<tr>
				<td>@section.sectionCd</td>
				<td>@section.sectionName</td>
				<td>
					<form action="" method="post">
						<a href="#" class="myButtonD">DELETE</a>
					</form>
				</td>
			</tr>
			}
			<tbody>
			<tr>
				<td><textarea></textarea></td>
				<td><textarea></textarea></td>
				<td>
					<form action="" method="post">
						<a href="#" class="myButtonA">ADD</a>
					</form>
				</td>
			</tr>
			</tbody>
		</table>
		<br>
		<br>
		<br>
		<br>
		<hr size="2" color="#bfc3fa" >
		<br>
		<br>
		<br>
		<br>
		<center><h1>部署一覧</h1></center>
		<table class="type04" width="100%">
			<tr>
				<th>部署CD</th>
				<th>部門名</th>
				<th>部署名</th>
				<th>追加/削除</th>
			</tr>
			@for(department <- departmentList){
			<tr>
				<td>@department.departmentCd</td>
				<td>@department.section.sectionName</td>
				<td>@department.departmentName</td>
				<td>
					<form action="" method="post">
						<a href="#" class="myButtonD">DELETE</a>
					</form>
				</td>
			</tr>
			}
			<tbody>
			<tr>
				<td><textarea></textarea></td>
				<td><textarea></textarea></td>
				<td><textarea></textarea></td>
				<td>
					<form action="" method="post">
						<a href="#" class="myButtonA">ADD</a>
					</form>
				</td>
			</tr>
			</tbody>
		</table>
	</body>
</html>
