@(listUser: List[User], listCategory: List[Category], listDepartment:List[Department])

<!DOCTYPE html>

<html>
	<head>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
	<script src="jquery.narrows.js"></script>
<link rel="stylesheet" href="lib/jasmine-2.0.0-rc5/jasmine.css">
    <script src="lib/jasmine-2.0.0-rc5/jasmine.js"></script>
    <script src="lib/jasmine-2.0.0-rc5/jasmine-html.js"></script>
    <script src="lib/jasmine-2.0.0-rc5/boot.js"></script>
    <script src="spec/narrowsSpec.js"></script>
		<meta charset="UTF-8">
		<style>
			table{border-spacing: 15px;}
			div.migi{text-align: right}
		</style>
		<title>thanks | create</title>
	</head>
	<body>
	<form action="@routes.HomeController.sendCard()" method="POST">
		<center>
			<h2>感謝カード作成</h2>
			<table class="thank" bgcolor="#e8e8e8">
				<tr>
					<td>
						<b>宛先　</b>
						<select name="country">
							<option  selected="selected" class="msg"> --- 部署 ---</option>
							<option class="count1"> @listDepartment.get(0).id</option>
							<option class="count2"> @listDepartment.get(1).id</option>
							<option class="count3"> @listDepartment.get(2).id</option>
							<option class="count4"> @listDepartment.get(3).id</option>
						</select>
						<select name="city">
							<option selected="selected" class="msg"> --- 氏名 ---</option>
							<option class="count1" >@listUser.get(0).department.id</option>
							<option class="count1">@listUser.get(1).department.id</option>
							<option class="count1">@listUser.get(2).department.id</option>
							<option class="count1">@listUser.get(3).department.id</option>
							<option class="count2"">@listUser.get(4).department.id</option>
							<option class="count3">@listUser.get(5).department.id</option>
							<option class="count4">@listUser.get(6).department.id</option>
							<option class="count4">@listUser.get(7).department.id</option>

						</select>
						&nbsp;&nbsp;<b>分類</b>
						<select name="category">
							<!-- にURLを記入 -->
							<option value =""> --- 分類 ---
							@for(category <-listCategory){
							<option>@category.categoryName</option>
							}
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<b>タイトル</b><br>
						<input type="text" name="title" size="80">
					</td>
				</tr>
				<tr>
					<td>
						<b>やってもらったこと</b><br>
						<textarea cols="80" name="detail" rows="10"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<b>感謝の言葉</b><br>
						<textarea cols="80" name=message rows="10"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<div class="migi">
							<input type="submit" value="作成完了">
							<input type="button" value="キャンセル">
						</div>
					</td>
				</tr>
			</table>

			<!-- jqueryで絞り込み！！---->>
			<script>
			$(function() {

	// 国名が変更されたら発動
	$('select[name="country"]').change(function() {

		// 選択されている国のクラス名を取得
		var countyName = $('select[name="country"] option:selected').attr("class");
		console.log(countyName);

		// 都市名の要素数を取得
		var count = $('select[name="city"]').children().length;

		// 都市名の要素数分、for文で回す
		for (var i=0; i<count; i++) {

			var city = $('select[name="city"] option:eq(' + i + ')');

			if(city.attr("class") === countyName) {
				// 選択した国と同じクラス名だった場合

				// 都市の要素を表示
				city.show();
			}else {
				// 選択した国とクラス名が違った場合

				// 都市の要素を非表示
				city.hide();
			}
		}
	})
})
</script>
			<script type="text/javascript">
			$(function () {
    		$("#dep").narrows("#na");    // #dep は #na を絞り込む
			});
			</script>
		</center>
		</form>
	</body>
</html>
