@(cardList: List[Array[String]])

<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="utf-8">

		<!-- jQuery -->
		<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.12.3.min.js")"></script>

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main_style.css")">

		<!-- popuup -->
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/magnific-popup.css")">

		<!-- 表のCSS -->
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/input_hyou.css")">

		<script src="@routes.Assets.versioned("javascripts/jquery.magnific-popup.min.js")"></script>

		<title>thanks | 送信画面</title>

		<!-- 表のセルに対して色を変えてる -->
		<script>
			$(function() {
				$("th:nth-child(odd)").addClass("odd");
				$("tr:nth-child(even)").addClass("even");
			});
		</script>
	</head>
	<body>
		<center><h1>送信箱</h1></center>

		<table class="type04" width="100%">
			<tr>
				<th scope="row">部署(From)</th>
				<th scope="row">氏名(From)</th>
				<th scope="row">部署(To)</th>
				<th scope="row">氏名(To)</th>
				<th scope="row">分類</th>
				<th scope="row">タイトル</th>
				<th scope="row">日付</th>
				<th scope="row">いいね件数</th>
				<th scope="row">いいね</th>
			</tr>
			<tr>
			@for(card <- cardList) {
			<tr>
				<td>@card(1)</td>
				<td>@card(2)</td>
				<td>@card(3)</td>
				<td>@card(4)</td>
				<td>@card(5)</td>
				<td><a class="popup-iframe" href="@routes.HomeController.openCard(card(0))">@card(6)</a></td>
				<td>@card(7)</td>
				<td>@card(8)</td>
				<td>
					<form action="@routes.HomeController.addGoodCount_MyCont2(card(0))" method="POST" >
						<input class="myButtonI" type="submit" style="width: 96px; height: 32px;" value="いいね!!">
					</form>
				</td>
			</tr>
			}
		</table>
		<script>
			$(function() {
				$('.popup-iframe').magnificPopup({
					type: 'iframe',
					disableOn: 500, //ウィンドウ幅が500px以下だったらモーダル表示させずにリンク先へ遷移
					mainClass: 'mfp-fade',
					removalDelay: 200,
					preloader: false,
					fixedContentPos: false
				});
			});
		</script>
	</body>
</html>
