@system_main("card") {
	<!-- wrapper -->
	<div id="wrapper">
		<div class="sidebar left">
			<section id="side_banner">
				<center>
					<h1>
						<ul>
							<li id="tab1" class="btn" data-action="toggle" data-side="left">
								<a href="#cont1">Card Top</a>
							</li>
						</ul>
						<ul>
							<li id="tab2"class="btn" data-action="toggle" data-side="left">
								<a href="#cont2">Card 作成</a>
							</li>
						</ul>
					</h1>
				</center>
			</section>
		</div>
		<div id="main">
			<!-- 表などを表示するコンテンツ部分 -->
			<div id="cont1">
				<iframe src="@routes.SystemController.card_cont1()"width="100%" height="353px"frameborder="0"></iframe>
			</div>
			<div id="cont2">
				<iframe src="@routes.SystemController.card_cont2()"width="100%" height="3530px"frameborder="0"></iframe>
			</div>
			<!-- jQueryを使ったタブのスクリプト処理 -->
			<script>
				$("#tab1").click(function() {
					$("#cont1").show();
					$("#cont2").hide();
				});
				$("#tab2").click(function() {
					$("#cont1").hide();
					$("#cont2").show();
				});
			</script>
		</div>
	</div>
}
