@(departmentForm: Form[Department])

@import helper._

<html>
    <body>
        @form(routes.SystemController.createDepartment()) {
        	@inputText(departmentForm("departmentId"), '_label -> "department_id")
        	@inputText(departmentForm("departmentCd"), '_label -> "department_cd")
        	@inputText(departmentForm("sectionId"), '_label -> "section_id")
   	       	@inputText(departmentForm("departmentName"), '_label -> "department_name")
        	<input type="submit" value="Create" />
    }
    </body>
</html>