<html>
    <body>
        <form action="/system/user/create" method="GET" >

   		<dl class=" " id="user_name_field">
     	<dt><label for="user_name_field">社員コード</label></dt>
     		<dd>
       			<input type="text" id="user_cd" name="user_code" value="" />
     		</dd>
  		</dl>

  		<dl class=" " id="user_pass_field">
    		<dt><label for="user_pass_field">社員パス</label></dt>
    		<dd>
      			<input type="text" id="user_pass" name="user_pass" value="" />
    		</dd>
 		</dl>

 		<dl class=" " id="department_id_field">
     	<dt><label for="department_id_field">部署ID</label></dt>
     		<dd>
       			<input type="text" id="department_id" name="department_id" value="" />
     		</dd>
  		</dl>

  		<dl class=" " id="user_name_field">
    		<dt><label for="user_name">氏名</label></dt>
    		<dd>
      			<input type="text" id="user_name" name="user_name" value="" />
    		</dd>
 		</dl>

 		<dl class=" " id="permission_id_field">
    		<dt><label for="permission_id">権限ID</label></dt>
    		<dd>
      			<input type="text" id="permission_id" name="permission_id" value="" />
    		</dd>
 		</dl>

  		<input type="submit" value="Create" />
		</form>
    </body>
</html>