@(loginForm: Form[Login])

@import helper._

<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>thanks | ログイン画面</title>
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/login.css")">
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/input_hyou.css")">
	</head>
	<body>
		<br><br>
		<center><img src="@routes.Assets.versioned("images/symbol200.jpg")" ></center>
		<center>Login to Thanks Card Management System</center>
		<div id="form">
			<p class="form-title">ロ グ イ ン</p>
			@if(loginForm.hasGlobalErrors) {
				<p class="error">
					<center>
						<small style="color: red;">
							@Html(loginForm.globalError.message)
						</small>
					</center>
				</p>
			}
			@form(routes.AuthController.authenticate()) {
				<p class="ID">
					@inputText(
						loginForm("usercode"),
						'_label -> "UserCode",
						'placeholder -> "社員コードを入力して下さい"
					)
				</p>
				<p class="pass">
					@inputPassword(
						loginForm("password"),
						'_label -> "PassWord",
						'placeholder -> "パスワードを入力して下さい"
					)
				</p>
				<p class="submit">
					<center><input class="myButtonA" type="submit" style="width: 150px; height: 35px;" value=" L　o　g　i　n " /></center>
				</p>
			}
		</div>
		<center><small>&copy; 2016 team_OCC-B</small></center>
	</body>
</html>
