<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>thanks | login</title>
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/login.css")">
	</head>
	<body>
		<div id="form">
			<p class="form-title">ログイン</p>
			<form action="post">
				<p>usercode</p>
				<p class="ID"><input type="IDs" name="ID" /></p>
				<p>Password</p>
				<p class="pass"><input type="password" name="pass" /></p>
				<p class="submit"><input type="submit" value="Login" /></p>
			</form>
		</div>
	</body>
</html>
