@(loginUser: Array[String])(content: Html)

<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="UTF-8">

		<title>thanks Card Management System</title>

		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main_style.css")">

		<!-- jQuery -->
		<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.12.3.min.js")"></script>

		<!-- Slide bar -->
		<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.sidebar.min.js")"></script>

		<!-- タブ専用のCSS処理 -->

		<style type="text/css">
			/*最初はcont2,3は表示しないようにしておく。*/
			#cont2, #cont3 { display: none; }
			li { display: inline-block; }
			div .sidebar{
             z-index: 1;
             width: 70%;
            max-height: 1080px;
            background-image: url(@routes.Assets.versioned("images/mokume4.jpg"))
         }

		</style>

		<script>
			$(document).ready(function () {
				// 向き
				var sides = ["left"];
				// サイドバーの初期化
				for (var i = 0; i < sides.length; ++i) {
					var cSide = sides[i];
					$(".sidebar." + cSide).sidebar({side: cSide});
				}
				// ボタンのクリックにより...
				$(".btn[data-action]").on("click", function () {
					var $this = $(this);
					var action = $this.attr("data-action");
					var side = $this.attr("data-side");
					$(".sidebar." + side).trigger("sidebar:" + action);
					return false;
				});
			});
		</script>
	</head>
	<body>
		<header>
		<li>Thanks Card Management System</li>
		<!-- グローバルナビ -->
		<nav id="global_navi">
			<ul>
				<li><a href="@routes.MypageController.mypage_main()">マイページ</a></li>
				<li><a href="@routes.BbsController.bbs_main()">掲示板</a></li>
				<li><a href="@routes.ManagementController.management_main()">管理者設定</a></li>
				<li><a href="@routes.AuthController.logout()">ログアウト</a></li>
			</ul>
		</nav>
		<div id="main">
			<a href="#" id="nav-toggle" class="btn" data-action="toggle" data-side="left"><span align="right"></span></a>
			<article>
				<h1>ようこそ @loginUser(0) さん &nbsp;（ &nbsp;@loginUser(1)&nbsp; ）</h1>
			</article>
		</div>
		</header>
		@content
		<footer>
			<div id="footer_nav">
				<ul>
					<li><a href="@routes.MypageController.mypage_main()">マイページ</a></li>
					<li><a href="@routes.BbsController.bbs_main()">掲示板</a></li>
					<li><a href="@routes.ManagementController.management_main()">管理者画面</a></li>
					<li><a href="@routes.AuthController.logout()">ログアウト</a>
				</ul>
			</div>
			<small>&copy; 2016 team_OCC-B</small>
		</footer>
	</body>
</html>
